.grid-container
  = breadcrumbs_tag [ link_to('Jobs', jobs_path), link_to(@job.title, job_path(@job.id)), 'Job Application Comfirm']

h1 Applicants#show
p Find me in app/views/applicants/show.html.slim
