<h1>Rails Girls Munich </h1>
<h3>6th & 7th October, 2017</h3>
<p><b>Servus Bayern!</b> Rails Girls is returning to Munich in October 2017! During this free workshop, we'll explore the magical world of Ruby on Rails, and build a working web application using this powerful framework.</p>
<p>Applications are now closed. Confirmations to participants are sent out (please double check your spam folder).</p>
<p>Follow us on Facebook and Twitter for information on upcoming events and meetups.</p>