.header-container {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.header-auth {
  padding: 10px;
  text-align: right;

  .user-email-link,
  .sign-up-link,
  .login-link {
    border: 1px solid $primary-color;
    border-radius: 7px;
    padding: 6px;
  }

  img.logout-icon {
    height: 35px;
    margin-left: 5px;
    transform: rotate(180deg);
  }
}

.header-logo {
  padding-left: 10px;

  .main-logo {
    height: rem-calc(70);
    width: rem-calc(190);
  }
}

.header-main-nav {
  li a {
    text-transform: uppercase;
  }

  .is-menu-item-active {
    border-bottom: 1px solid $primary-color;
  }
}

.button.menu-icon {
  border: none;

  &:hover::after {
    background-color: $white;
    color: $white;
    box-shadow: 0 7px 0 $white, 0 14px 0 $white;
  }
}

.off-canvas-wrapper {
  .position-top.is-open {
    height: 100%;
    background-color: rgba($black, .9);
  }

  .close-button {
    color: $white;
  }

  .menu.vertical {
    margin-top: 50px;

    a {
      color: $white;
      font-weight: bold;
    }
  }
}